body {font-family: verdana; font-size: 12px; color: #c79c25; text-decoration: none}
td { font-family: verdana; font-size: 12px; color: #c79c25; text-decoration: none}
input {color: ##; background: ##999999 }
textarea {color: ##; background: ##999999 }
h2.title { font-family: verdana; font-size: 12pt; color: #666666; text-decoration: none}
p.text { font-family: Georgia; font-size: larger; color: #c79c25; text-decoration: none; 	font-style: none; font-weight: 100; letter-spacing: 1.5px; text-align: center;}
p.wide {font-family: verdana; font-size: 12px; color: #c79c25; text-decoration: none; line-height:1.5; letter-spacing : 1.9px;}
p.wide2 {font-family: verdana; font-size: 18px; color: #c79c25; text-decoration: none; line-height:1.5; letter-spacing : 1.9px;}
p.space {font-family: Verdana; font-size: 11px; color: #c79c25; text-decoration: none; line-height:2; letter-spacing : 3px;}
.nodecoration {	text-decoration: none; color: #666666;}
non {color: #666666; text-decoration: none;}
.none {color: #666666; text-decoration: none;}
#imageContainer {	position:relative; margin:auto;	width:600px;	border:1px solid #000;}
.centerdiv{ text-align: center;}
.centerdiv>div{ margin: 0 auto;}

.brn a {font-weight: none; color: #997d2c}
.brn {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #997d2c; font-weight: normal; text-decoration: none}
.grn a {font-weight: none; color: #316563}
.grn {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #316563; font-weight: normal; text-decoration: none}
.blue a {font-weight: none; color: #003063}
.blue {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #003063; font-weight: normal; text-decoration: none}
.gray a {font-weight: none; color: #666666}
.gray a:hover {font-weight: none; color: #333333}
.gray {font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #666666; font-weight: normal; text-decoration: none}

a {text-decoration: none; color: #c79c25}
a:hover {text-decoration: none; color: #5a4611}


.nav, .nav a {font-family: Arial, Helvetica, sans-serif; font-weight: 100; font-size: 12px; color: #c79c25; letter-spacing: 2px; 	line-height:1.8}
.navActive, .navActive a {font-family: Arial, Helvetica, sans-serif; font-weight: 100; font-size: 12px; color: #5a4611; letter-spacing: 2px; 	line-height:1.8}
.nav a:hover {font-family: Arial, Helvetica, sans-serif; font-weight: 100; font-size: 12px; color: #45360d; letter-spacing: 2px; 	line-height:1.8}


	
	