/* $Id: lightbox.css,v 1.1.2.21 2009/01/01 14:06:23 snpower Exp $ */
#lightbox {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0;
}

#lightbox a img {
  border: none;
}

#outerImageContainer {
  position: relative;
  background-color: #000;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  min-width: 240px;
  overflow: hidden;
}

#imageContainer, #frameContainer, #modalContainer {
  padding: 10px;
}

#modalContainer {
  line-height: 1em;
  overflow: auto;
}

#loading {
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: 45%;
  *left: 0%;
}

#hoverNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#imageContainer>#hoverNav {
  left: 0;
}

#frameHoverNav {
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  position: relative;
  top: -60px;
}

#imageData>#frameHoverNav {
  left: 0;
}

#hoverNav a, #frameHoverNav a {
  outline: none;
}

#prevLink, #nextLink {
  width: 49%;
  height: 100%;
  background: transparent url(../images/blank.gif) no-repeat; /* Trick IE into showing hover */
  display: block;
}

#prevLink, #framePrevLink {
  left: 0;
  float: left;
}

#nextLink, #frameNextLink {
  right: 0;
  float: right;
}

#prevLink:hover, #prevLink:visited:hover, #prevLink.force_show_nav, #framePrevLink {
  background: url(../images/prev.gif) left 15% no-repeat;
}

#nextLink:hover, #nextLink:visited:hover, #nextLink.force_show_nav, #frameNextLink {
  background: url(../images/next.gif) right 15% no-repeat;
}

#prevLink:hover.force_show_nav, #prevLink:visited:hover.force_show_nav,
#framePrevLink:hover, #framePrevLink:visited:hover {
  background: url(../images/prev_hover.gif) left 15% no-repeat;
}

#nextLink:hover.force_show_nav, #nextLink:visited:hover.force_show_nav,
#frameNextLink:hover, #frameNextLink:visited:hover {
  background: url(../images/next_hover.gif) right 15% no-repeat;
}

#framePrevLink, #frameNextLink {
  width: 45px;
  height: 45px;
  display: block;
  margin-bottom: -60px;
  position: relative;
  top: 60px;
}

#imageDataContainer {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #000;
  margin: 0 auto;
  line-height: 1.4em;
  min-width: 240px;
}

#imageData {
  padding: 0 10px;
}

#imageData #imageDetails {
  width: 70%;
  float: left;
  text-align: left;
}

#imageData #caption {
  font-weight: bold;
}

#imageData #numberDisplay {
  display: block;
  clear: left;
  padding-bottom: 1.0em;
}

#imageData #node_link_text {
  display: block;
  padding-bottom: 1.0em;
}

#imageData #bottomNav {
  height: 66px;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px;
  background-color: #000;
}

#overlay_default {
  opacity: 0.6;
}

#overlay_macff2 {
  background: transparent url(../images/overlay.png) repeat;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html>body .clearfix {
  display: inline;
  width: 100%;
}

* html .clearfix {
  /* Hides from IE-mac \*/
  height: 1%;
  /* End hide from IE-mac */
}


/* Image location mod */
#bottomNavClose {
  display: block;
  background: url(../images/close.gif) left no-repeat;
  margin-top: 33px;
  float: right;
  padding-top: 0.7em;
  height: 26px;
  width: 26px;
}

#bottomNavClose:hover {
  background-position: right;
}

#loadingLink {
  display: block;
  background: url(../images/loading.gif) no-repeat;
  width: 32px;
  height: 32px;
}

#bottomNavZoom {
  display: none;
  background: url(../images/expand.gif) no-repeat;
  width: 34px;
  height: 34px;
  position: relative;
  left: 30px;
  float: right;
}

#bottomNavZoomOut {
  display: none;
  background: url(../images/contract.gif) no-repeat;
  width: 34px;
  height: 34px;
  position: relative;
  left: 30px;
  float: right;
}

#lightshowPlay {
  margin-top: 42px;
  float: right;
  margin-right: 5px;
  margin-bottom: 1px;
  height: 20px;
  width: 20px;
  background: url(../images/play.png) no-repeat;
}

#lightshowPause {
  margin-top: 42px;
  float: right;
  margin-right: 5px;
  margin-bottom: 1px;
  height: 20px;
  width: 20px;
  background: url(../images/pause.png) no-repeat;
}

.lightbox_hide_image {
  display: none;
}
