/*****************##################*****************

                     Mohd.Sakib
                   Worthapost.com
				    .::Enjoy::.
		  
*****************##################*****************/

/*
Find more on my website (http://www.worthapost.com)				   
Do visit my premium themes (http://www.worthapost.com/products/premium-drupal-themes).
Please leave a visible credit link on your website.
*/


body#mainbody{
background-color:#041325;
color:#202020;
font-family:tahoma, Helvetica, sans-serif, arial;
font-size:11px;
}

#container{
width:900px;
margin:auto;
}

a, a:visited{
color:#2d769e;
}

.block ul.links{
text-align:right;
padding-top:4px;
}

.node img{ 
   /*Remove this to stop left alignment of images in nodes*/
margin:0 8px 2px 0;
}

/*Header*/

#head{
height:128px;
background:url(images/headbg.jpg) bottom left no-repeat;
}

#hright{
float:right;
width:398px;
height:126px;
}

#hleft{
width:500px;
float:left;
}

#hleft #titles{
color:#fcfcfc;
font-size:13px;
font-weight:bold;
width:350px;
margin-top:54px;
margin-left:50px;
}

#hleft #titles h1{
font-family:verdana, Helvetica, sans-serif, arial;
font-weight:normal;
font-size:24px;
padding:0;
margin:0;
}

#hleft #titles h1 a, #hleft #titles h1 a:visited{
text-decoration:none;
color:#fcfcfc;
}

#hleft .site-slogan{
font-size:13px;
font-family:Helvetica, sans-serif, arial;
font-weight:normal;
color:#eee;
margin:0;
padding:0;
}

#logocontainer{
float:left;
margin-right:8px;
}


/*Mast*/

#mast{
padding:0 8px 8px;
background:#1f2b3b;
}

/*Menu*/

#menu{
height:42px;
background:url(images/menu.jpg);
}

#menu #navlist{
text-align:center;
line-height:42px;
}

#menu #navlist li a{
font-size:16px;
font-family:verdana, sans-serif, helvetica;
font-weight:normal;
color:#fff;
padding:12px 8px;
}

#menu #navlist li a:visited{
color:#fff;
}

#menu #navlist li a:hover, #menu #navlist li a.active{
background:#2b2b2b;
}

#menu #navlist li.first a.active{
background:none; !important
}

#secondary-links{
padding:2px 10px 4px 0;
text-align:right;
}

#secondary-links ul li a, #secondary-links ul li a:visited, #secondary-links ul li a:hover{
color:#416c8a;
}

/*wrap*/

#wrap{
background:#fff;
width:884px;
}

#postarea{
max-width:98%;
background:#f0f0f0;
float:left;
padding:6px;
}

#sidearea{
float:right;
width:346px;
padding:8px;
}

/*content area*/

body.not-front #postareainner{
padding:6px;
background:#fff;
border:1px solid #e6e6e6;
font-family:tahoma, Helvetica, sans-serif, arial;
font-size:11px;
margin-bottom:6px;
}

body.front #postareainner{
font-family:tahoma, Helvetica, sans-serif, arial;
font-size:11px;
}

body.front #postareainner .node{
padding:6px;
background:#fff;
border:1px solid #e6e6e6;
font-family:tahoma, Helvetica, sans-serif, arial;
font-size:11px;
margin-bottom:6px;
}


h1.title{
padding:0 0 4px 0;
border:none;
}


h1 a, h1 a:link, h1 a:visited,
h2 a, h2 a:link, h2 a:visited,
h3 a, h3 a:link, h3 a:visited,
h4 a, h4 a:link, h4 a:visited {
	color:#1c2539;
	text-decoration: none;
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active {
	color:#1c2539;
	text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  padding: .1em 0;
  line-height: 1.3em;
  font-size:17px;
  font-weight:normal;
}

.node .submitted{
display:block;
height:18px;
margin:0 0 4px 0;
background:#5b7380;
color:#ebebeb;
padding:0 5px;
line-height:18px;
}

.node .submitted a{
color:#fff;
}

.node .content{
margin:10px 0 0 0;
}

.node .links-readmore{
text-align:right;
}

.node .links-readmore a{
color:#000;
}

#postarea .block{
padding:6px;
background:#fff;
border:1px solid #aaa;
margin-bottom:6px;
}


/*Misc*/


.description {
  padding: .5em;
  font-size: .8em;
  font-style: italic;
}

.more-link{
margin:2px 0;
}

.more-link a{
padding:2px 6px;
background:#fff;
-moz-border-radius:2px;
border-radius:2px;
color:#222;
}

.messages,
.help {
  margin: 1em;
  padding: 1em;
  border-width: 2px;
  border-style: solid;
}

.error {
  border-color: #ff0000;
  background-color: #ffdddd;
}

.status {
  font-style: italic;
  border-color: #9FE4FF;
  background-color: #D9F4FF;
}

.help {
  font-style: italic;
  border-color: #FEFF7F;
  background-color: #ffffcc;
}

.help .more-help-link {
  font-weight: bold;
}

/*pager*/

 .pager {
clear:both;
text-align:center;
padding:10px 0;
}

.pager span {
background-image:none;
display:inline;
list-style-type:none;
margin:0.3em;
}

.pager-list a.active{
background:#30527b;
color:#fff;
padding:1px 3px;
-moz-border-radius:2px;
border-radius:2px;
margin:0 3px;
}


/*user login block*/

#user-login-form{
}

#user-login-form .form-item label{
color:#515151;
font-weight:normal;
}

#user-login-form .form-item .form-text {
font-size:11px;
color:#555;
line-height:11px;
height:11px;
padding:1px;
}

div.form-item{
margin:3px 0;
}

input:focus, #comment-form .resizable-textarea textarea:focus{
background:#f7f7f7;
}

#user-login-form div.item-list ul, #user-login-form div.item-list ul li{
margin:0;
padding:2px 4px;
list-style:none;
list-style-image:none;
}

#user-login-form div.item-list ul li a{
color:#555;
}

/*side area*/

#mission-block{
padding:12px;
background:#f0f0f0;
margin-bottom:10px;
}

#search-block-main{
padding:12px;
background:#f0f0f0;
margin-bottom:10px;
height:28px;
}

#search-block-main .form-text{
line-height:20px;
font-size:18px;
color:#444;
width:230px;
float:left;
border-right:1px solid #aaa;
border-top:1px solid #aaa;
}

#search-block-main .form-submit{
width:80px;
padding:3px 10px;
font-size:14px;
margin-left:8px;
float:left;
color:#fff;
background:#113354;
}

#search-block-main #search-f-submit:hover{
background:#204973;
}

#sidebars{
background:#f0f0f0;
padding:3px;
line-height:14px;
width:340px;
}


#sidearea h3{
font-size:13px;
font-weight:bold;
}

.item-list ul{
padding-left:4px;
}

.item-list ul li{
list-style:circle;
list-style-image:url(images/62.gif);
padding:4px 0;
}

ul li{ list-style:circle;}

#sidearea h2.title{
font-size:14px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
padding:2px 0 4px 0;
}

.block{
margin-bottom:3px;
background:#e6e7d8;
padding:3px;
border-top:1px  solid #d2d4b3;
}

#header_block .block{
background:none;
border:none;
color:#eee;
}

#header_block .block .menu li{
display:inline;
list-style:none;
padding:2px 8px;
}

.block-menu{
padding:2px; !important
}

#left{
width:169px;
float:left;
}

#right{
width:168px;
margin-left:3px;
float:left;
}

ul.menu{
padding:0;
}

ul.menu li{
line-height:25px;
background: url(images/menu-li.gif) top repeat-x;
margin:0;
margin-bottom:1px;
padding:0;
}

ul.menu li a{
color:#555;
display:block;
padding:0 5px;
}

ul.menu li a:hover{
background:#dedede;
color:#000;
}

ul.menu li.expanded ul.menu li{
margin-top:1px;
border-left:10px solid #5B7380 ;
}

ul.menu li.leaf{
list-style-image:none;
list-style:none;
}

ul.menu li.collapsed{
list-style-image:none;
list-style:none;
}

ul.menu li.expanded{
list-style-image:none;
list-style:none;
}

/*Forum*/

#forum td{
padding-top:9px;
padding-bottom:9px;
}

#forum tr td.forum{
background: url(images/forum-default.png) center left no-repeat;
}

#forum tr td .name{
font-weight:bold;
padding-left:11px;
}

#forum tr td.container{
background:#333;
}

#forum div.indent {
margin-left:4px;
}

#forum tr td.container a{
color:#0099FF;
}

/*tables*/


table {
  margin: 1em 0;
  width: 100%;
}

  tr.even, tr.odd /* Some tables have rows marked even or odd. See also the ".section-admin tr.even" declaration below. */
  {
    border-bottom: none;
    padding:0;
  }
  
  table tr td{
  padding: 2px 5px;
  }

  tr.even
  {
   background-color: #dbd9cf; /* Drupal core uses a #eee background */
   border-bottom:1px solid #dad6b8;
  }

  tr.odd
  {
     background-color: #edede6; /* Drupal core uses a #eee background */
	 border-bottom:1px solid #dad6b8;
  }
  
 #postarea td.block{
   background-color: #ececec;
   border:none;
   border-right:1px solid #dad6b8;
   border-bottom:1px solid #dad6b8;
  }

/*comments*/

#comments{
margin:5px;
padding:8px 0;
border-top:1px soiid #ccc;
}

#comments .comment{
background:#f9f9f8;
padding:7px;
margin:8px 0;
border-left:2px solid #c6d9e4;
border-top:2px solid #c6d9e4;
}

#comments .comment h3{
font-size:12px;
font-weight:bold;
}

#comments .comment .content{
background: url(images/quote.gif) top right no-repeat;
padding:5px 22px 5px 10px;
}

#comments .comment ul.links{
text-align:right;
}


#comments .comment .submitted{
color:#777;
margin-bottom:4px;
font-style: italic;
}

.box{
margin:15px 5px;
border-top:1px dashed #ccc;
}

.box form#comment-form{
background:#f2f8fa;
border-top:1px solid #9aa4ab;
border-left:1px solid #d5dfe6;
border-bottom:1px solid #9aa4ab;
border-right:1px solid #d5dfe6;
display:block;
padding:10px;
}

/*Footer*/

#footer{
padding:10px;
color:#eee;
}

#foot-block{display:inline;}

